################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Folders
.vs/
bin/
bin-int/

# Files
*.user
